@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');
/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: 200;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar */
}

:root {
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  --text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  --text-shadow-light: 0 2px 4px rgba(255, 255, 255, 0.4);
  --transition: all 0.2s ease-out;
  --clr-body-bg: hsl(0 0% 90%);
  --clr-card-bg: hsl(0 0% 100%);
  --clr-text: hsl(0 0% 15%);
  --clr-heading: hsl(0 0% 25%);
  --shadow-color: 0deg 0% 60%;
  --shadow-elevation-medium: 0px 0.6px 0.7px hsl(var(--shadow-color) / 0.36),
    0px 2px 2.3px -0.8px hsl(var(--shadow-color) / 0.36),
    -0.1px 5px 5.6px -1.7px hsl(var(--shadow-color) / 0.36),
    -0.2px 12.3px 13.8px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0px 0.6px 0.7px hsl(var(--shadow-color) / 0.34),
    -0.1px 3.6px 4.1px -0.4px hsl(var(--shadow-color) / 0.34),
    -0.1px 6.7px 7.5px -0.7px hsl(var(--shadow-color) / 0.34),
    -0.2px 11px 12.4px -1.1px hsl(var(--shadow-color) / 0.34),
    -0.3px 17.6px 19.8px -1.4px hsl(var(--shadow-color) / 0.34),
    -0.4px 27.4px 30.8px -1.8px hsl(var(--shadow-color) / 0.34),
    -0.7px 41.7px 46.9px -2.1px hsl(var(--shadow-color) / 0.34),
    -1px 61.5px 69.2px -2.5px hsl(var(--shadow-color) / 0.34);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  min-height: 100vh;
  background: var(--clr-body-bg);
  color: var(--clr-text);
  animation: fadeInAnimation ease-out 3s 1 forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body::-webkit-scrollbar {
  display: none;
}

body,
button,
input {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
  font-weight: 400;
  color: var(--clr-heading);
  clear: both;
  line-height: 1.3em;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}
ul {
  list-style: none;
  padding: 0;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}
a {
  text-decoration: none;
  overflow-wrap: break-word;
  hyphens: auto;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.site-title {
  font-weight: 400;
}

p {
  font-weight: 300;
  overflow-wrap: break-word;
  hyphens: auto;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  margin: 0 0 1.5em 0;
  padding: 1em 0;
}

address {
  margin: 0 0 1.5em;
}

/* pre {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  background: var(--clr-body-bg);
  color: var(--clr-text);
  padding: 0.5em 0.8em;
  border-radius: 0.2em;
} */

figure {
  margin: 0;
}

/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/
/* Colour themer */

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
}

.color-picker > fieldset {
  border: 0;
  display: flex;
  gap: 2rem;
  width: fit-content;
  background-color: var(--clr-card-bg);
  padding: 1rem 3rem;
  border-radius: 0 0 1rem 1rem;
  margin-inline: auto;
  box-shadow: var(--shadow-elevation-medium);
  border: 1px solid var(--clr-text);
}

.color-picker input[type='radio'] {
  appearance: none;
  /* background-color: #ccc; */
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  outline: 0.2rem solid var(--radio-color, currentColor);
  outline-offset: 0.2rem;
}
.color-picker input[type='radio']:hover {
  cursor: url(favicon/glove2.png), auto;
}

.color-picker input[type='radio']:checked {
  background-color: var(--radio-color);
}

.color-picker input[type='radio']#light {
  --radio-color: gray;
}
.color-picker input[type='radio']#salmon {
  --radio-color: #fa8072;
}
.color-picker input[type='radio']#sunshine {
  --radio-color: #f5a800;
}
.color-picker input[type='radio']#blue {
  --radio-color: #73c3fc;
}
.color-picker input[type='radio']#dark {
  --radio-color: #191b20;
}
.salmon,
:root:has(#salmon:checked) {
  --clr-body-bg: hsl(6, 100%, 90%);
  --clr-card-bg: hsl(6, 100%, 79%);
  --clr-text: hsl(6, 100%, 10%);
  --clr-heading: hsl(6, 100%, 15%);
}
.blue,
:root:has(#blue:checked) {
  --clr-body-bg: hsl(209 50% 90%);
  --clr-card-bg: hsl(209 50% 80%);
  --clr-text: hsl(209 50% 15%);
  --clr-heading: hsl(209 50% 25%);
}

.sunshine,
:root:has(#sunshine:checked) {
  --clr-body-bg: hsl(41, 100%, 80%);
  --clr-card-bg: hsl(41, 100%, 48%);
  --clr-text: hsl(41, 100%, 10%);
  --clr-heading: hsl(41, 100%, 15%);
}

.dark,
:root:has(#dark:checked) {
  --clr-body-bg: hsl(209 50% 15%);
  --clr-card-bg: hsl(209 50% 5%);
  --clr-text: hsl(209 50% 90%);
  --clr-heading: hsl(209 50% 80%);
}
.circle {
  box-shadow: var(--shadow-elevation-high);
}

/* Header */

.masthead {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 10rem;
  text-align: center;
  background: var(--clr-card-bg);
  color: var(--clr-text);
  border-bottom: 1px solid var(--clr-text);
  z-index: -1;
}

.text {
  padding: 2rem 0 2.4rem;
  color: var(--clr-text);
  margin: 0 auto;
}

.speed {
  background-color: var(--clr-card-bg);
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  color: var(--clr-text);
  width: 8rem;
  position: absolute;
  top: 6%;
  left: 92%;
  border: 1px solid var(--clr-text);
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-out;
}
.speed:hover {
  box-shadow: var(--shadow-elevation-medium);
}

input {
  padding: 5px;
  font-size: 1rem;
  background-color: var(--clr-card-bg);
  border: none;
  text-align: center;
  color: var(--clr-text);
  width: 3rem;
}

input:focus {
  outline: none;
}
/*--------------------------------------------------------------
Cards:
--------------------------------------------------------------*/
.main-area {
  padding: 1em;
  background-color: var(--clr-body-bg);
}

.cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card {
  visibility: hidden;
  margin-bottom: 1em;
  overflow-wrap: break-word;
  hyphens: auto;
  font-weight: 400;
}

.card a {
  display: inline-block;
  text-align: center;
  font-weight: 400;
  transition: all 0.2s;
  background-color: var(--clr-card-bg);
  border-radius: 0.3rem;
  color: var(--clr-text);
  border: 1px solid var(--clr-text);
}

.card a:focus,
.card a:hover {
  transform: translateY(-10px);
  transition: all 0.3s ease-out;
  color: var(--clr-text);
  box-shadow: var(--shadow-elevation-high);
  cursor: url(favicon/glove2.png), auto;
}

.time {
  padding: 1em;
  font-weight: 400;
}

.month {
  text-transform: uppercase;
  color: var(--clr-text);
  text-shadow: var(--text-shadow);
}

.date {
  font-weight: 300;
  font-size: 1.8em;
  line-height: 1em;
  color: var(--clr-text);
}

.cards h2 {
  margin: 0;
  padding-top: 0.5em;
}

.meta {
  padding-bottom: 1em;
  overflow-wrap: break-word;
  hyphens: auto;
}

/*--------------------------------------------------------------
Card grid:
--------------------------------------------------------------*/

@supports (grid-area: auto) {
  @media screen and (min-width: 50em) {
    .cards {
      --auto-grid-min-size: 26rem;
      display: grid;
      grid-template-columns: repeat(
        auto-fill,
        minmax(var(--auto-grid-min-size), 1fr)
      );
      grid-gap: 1em;
    }

    .card {
      display: flex;
      margin-bottom: 0;
    }

    .card a {
      width: 100%;
    }
  }

  .card a {
    display: grid;
    grid-template-columns: 6em auto;
    grid-template-rows: 1fr 1fr;
    padding: 0 1em 0 0;
    text-align: left;
  }

  .time {
    grid-column: 1;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card h2 {
    grid-column: 2;
    grid-row: 1;
    align-self: flex-end;
  }

  .meta {
    grid-column: 2;
    grid-row: 2;
  }
}
